.flex {
    display: flex;
    justify-content: space-between;
}

.staticLabel {
    position: absolute;
    left: 20px;
    top: 25px;

    font-family: 'Karla', sans-serif;
    font-size: 1.2rem;
    color: #818181;
}

@media screen and (max-width: 768px) {
    .staticLabel {
        display: none;
    }

    .timeInputField {
        padding-left: 10px!important;
    }
}

.timeInput {
    position: relative;
    width: 100%;
    height: 100%;
}

.timeInputField {
    padding-left: 180px;
}